<div id="<%= dom_id pin %>">
  <p>
    <strong>Title:</strong>
    <%= pin.title %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= pin.caption %>
  </p>
  <p >
  <img src="<%= pin.image%>"  width="500" height="600">

</p>

</div>
